<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>What's your name?</title>
</head>
<body>
    <h1>Want a greeting?</h1>
    <form action="/" method="Get"> <!-- The action="/" in the form defines where the data is sent.-->
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required> <!-- The name="name" inside the input field determines the key in the GET parameter (?name=Alice).-->
        <br><br>
        <input type="submit" value="Submit">
    </form>

</body>

</html>





